@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Ext.NET MVC Examples Explorer</title>
    <link rel="stylesheet" href="@Url.Content("~/resources/css/main.css")" />

    <script>
        Ext.onReady(function () {
            if (top !== self) {
                Ext.select("a", true).on("click", function (e, el) {
                    if (!Ext.fly(el).hasCls("exclude")) {
                        parent.location = el.href;
                    }
                }, null, { preventDefault: true });
            }
        });
    </script>
</head>
<body class="welcome">
    @Html.X().ResourceManager().Theme(Theme.Crisp)

    @(Html.X().Container()
        .Content(
            @<text>
                @*<a class="exclude" href="http://www.ext.net/store/" target="_top">
                    <img src="http://speed.ext.net/www/images/ext.net.sale.banner.png" alt="Ext.NET Sale Banner" class="banner" title="Ext.NET Sale Banner">
                </a>*@
                <div id="welcome-title">
                    Build ASP.NET MVC Applications with Ease
                </div>

                <div class="ext4-notification">
                    <div class="notification-container">
                        <div class="notification-img">
                            <img src="@Url.Content("~/resources/images/extdotnet4-preview.svg")">
                        </div>
                        <div class="notification-text">
                            We’re super excited to announce the immediate availability of Ext.NET 4 Preview! This release includes many new features and improvements and of course one of the biggest changes includes the upgrade to Sencha Ext JS 6.
                        </div>
                        <div class="notification-action">
                            <a href="http://ext.net/ext-net-4-preview-now-available/" class="btn-notification">Read More</a>
                        </div>
                    </div>
                    <div class="sale-bar">
                        <div class="sale-tag">SALE</div>
                        <div class="sale-message">EXT.NET 4 IS ON SALE UNTIL FEBRUARY 29th. <a href="http://ext.net/store/">GET IT NOW!</a></div>
                    </div>
                </div>

                <p class="welcome-text">
                    Ext.NET provides full support for ASP.NET MVC, including the Razor View Engine.<br />
                    Browse the examples using the sidebar menu on the left, check their source code, open in a separate window if you like.<br />
                    If you have any questions feel free to <a href="http://ext.net/contact/">get in touch with us</a> or check our <a href="http://forums.ext.net/">community forums</a>.
                </p>
            </text>
        )
    )

    @(Html.X().Container()
        .Content(
            @<text>
                <div id="welcome-grid">
                      <div id="screens"></div>
                    <div class="popular-links">
                        <a class="button" href="/#/Events/DirectMethod/">Events</a>
                        <a class="button" href="/#/Portal/Complex/">Portal</a>
                        <a class="button" href="/#/Models/FormPanelFor/">Models</a>
                    </div>
            </text>
        )
    )
</body>
</html>
